<div class="fullpage team-photo">
  <div class="film"></div>
  <div class="content team">  
    <h1> Our Team </h1>
    <h4> Guardians of the Galaxy </h4>
  </div>
</div>
 <div class="container">
  <ul class="collections">
    <div class="row">
      <div class="four columns">
        <li class="collection">
          <a class="collection--link" href="#"> 
            <div class="collection--tile">
              <div class="collection--content">
                <div class="collection--back">bleh</div>
                <h2 class="collection--front"> Paul </h2>
              </div>
            </div>
             <img class="collection--image" src="images/paul.png" />
          </a>
        </li>
      </div>
    </div>
  </ul>
</div>






