<div id="fullpage">
  <!-- #landing -->
  <a id="menu" href="#"><span></span></a>
  <div class="overlay animated fadeIn"></div>
  <div class="modal candlelight middle animated fadeIn">
    <ul>
      <li><a href="/about"> About </a></li>
      <li><a href="/team"> Team </a></li>
      <li><a href="https://startupatnyu.herokuapp.com">Our Community</a></li>
      <li><a href="http://eianyu.github.io/lists/">Our Curated Lists</a></li>
      <li><a href="mailto:polyentrepreneurs@gmail.com?subject=Howdy!" target="_top">Reach Us</a></li>
    </ul>
  </div>
  <div class="section black">
    <div class="container middle">
      <div class="logo-container">
        <svg width="212" height="361" viewBox="0 0 212 361" xmlns="http://www.w3.org/2000/svg">
          <title>EIA</title>
          <g fill="none" fill-rule="evenodd">
            <path class="logo-path" d="M151.2 264.5H60.8s-6.8-8.5-6.3-12c0 0 7.4-15.2-13-47.4 0 0-30-52.4-30.8-54.9 0 0-28.5-55.6 15.5-112.4 0 0 35-49.3 112.2-32.7 0 0 46.4 15.1 61.4 54.2l.6 1.5c14.3 40.2 15.7 66.7-14.1 116 0 0-28.3 47.1-29.3 58.2v18.3c.1 0-.6 7.8-5.8 11.2z" stroke="#231F20" stroke-width="3"/>
            <path class="logo-path" d="M115.4 193.9c1.6 0 2.9-1.8 2.9-4.1s-2.3-4.1-5-4.1H98.6c-2.8 0-5 1.8-5 4.1s1.3 4.1 2.9 4.1c1.6 0 2.9 2.3 2.9 5v24.7c0 2.8-1.3 5-2.9 5-1.6 0-2.9 2.3-2.9 5v24.7c0 2.8 1.3 5 2.9 5h19c1.6 0 2.9-2.3 2.9-5v-24.7c0-2.8-1.3-5-2.9-5-1.6 0-2.9-2.3-2.9-5v-24.7c-.1-2.8 1.2-5 2.8-5z" stroke="#231F20"/>
            <path class="logo-path" d="M144.8 270.5H67.1c-4.5 0-8.2 8.3-8.2 12.8s3.7 12.8 8.2 12.8h26l-28.5 5.3c-4.3 1.4-6.6 4-5.2 8.3 1.1 3.5 4.3 4.7 7.8 4.7.8 0 1.7-.6 2.5-.9l77.7-25.4c3.8-1.2 6.2-5.9 5.5-9.9-.6-3.9-4-7.7-8.1-7.7zM144.8 328.2h-26l28.5-12.9c4.3-1.4 6.6-7.8 5.2-12.1-1.4-4.3-6-7.6-10.3-6.2l-77.6 24.7c-3.8 1.3-6.2 6.7-5.5 10.7.6 4 4 8.5 8.1 8.5h7.1l12.3 19.2h38.5l12.5-19.2h7.2c4.5 0 8.2-1.9 8.2-6.4 0-4.4-3.7-6.3-8.2-6.3z" stroke="#231F20" stroke-width="1.5"/>
            <text class="logo-text" stroke="#231F20" font-family="Script MT Bold" font-size="84" font-weight="bold" fill="#000" transform="translate(1 1)"><tspan x="61.685" y="173.912">eia</tspan></text>
            <path  class="logo-text" d="M68.5 163.1c.6 0 .6-1 0-1s-.6 1 0 1zM155.5 170c2.3-3.8 9.5-12.3 14.1-7 2.1 2.4.8 7.4-.4 9.9-1.5 3.1-4.1 5.7-7 7.6-6.5 4.1-20.3 2.3-23.7 10.7-2.1 5.3 3.8 7.5 8 6.2 7-2.2 5.9-10.9-.4-13.2-3.7-1.3-7.9-.6-11.3 1.1-5.3 2.6-12.4 12.6-19.1 9-.6-.3-2.8-.5-1.4.3 11.8 6.4 17.7-10.4 29-9.8 5.6.3 7.6 6.3 4.3 9.8-1.5 1.6-6 3.7-7.1.6-2.2-6.1 8.7-9 12.4-9.8 5.5-1.3 10.6-2.2 14.9-6.3 4.2-4 7.4-11.1 3.6-16.4-5.4-7.6-15 1.5-18.1 6.7-.4.2 1.8 1.2 2.2.6z" fill="#231F20"/>
            <path class="logo-text" d="M68.4 162c-9.1 1.7-22.2-7.8-29.9.9-4.1 4.6-2.1 10.7 1.7 14.7s8.8 5.3 14 6.5c4.8 1.2 13.3 2.8 15 8.5 1.7 5.6-5.9 3.5-7.8.2-2.5-4.4 0-7.8 5.3-7.5 10.8.7 19.3 12.2 30.6 9.1 1.4-.4 1.3-.9-.1-.5-8.4 2.2-17.7-6.8-25.5-8.8-3.2-.8-6.9-1.3-10 0-8.8 3.5.3 15.4 7.9 11.6 5.3-2.7.1-8.2-3.2-10.1-5.7-3.2-12.5-3.1-18.3-5.8-6.2-2.9-13.4-12-7.2-18.5 4.9-5.2 12.1-.8 17.6.2 3.2.6 6.2.6 9.4 0 .8 0 2.2-.8.5-.5zM157.8 168.2c3.1-2.8 6.8-6.5 11.2-6.7 0-.3 0-.6-.1-.8-4.7.7-8.9 2.9-12.6 5.8-.5.4.3.9.7.5 3.5-2.8 7.5-4.8 11.9-5.5.6-.1.6-.9-.1-.8-4.7.2-8.6 4-11.9 7-.3.4.5.8.9.5z" fill="#231F20"/>
            <path class="logo-path" d="M166.1 160.8c-1.6.2-3.1.8-4.4 1.9-.2.2.5.9.7.7 1.2-1 2.7-1.6 4.3-1.8.3-.1-.3-.8-.6-.8z" fill="#231F20"/>
            <path class="logo-path" d="M165.5 162.1c1.4-.9 3.5 0 4.7 1 .2.2 1.1-.1.9-.3-1.8-1.4-4.3-2.1-6.3-.8-.5.2.4.2.7.1z" fill="#231F20"/>
            <path class="logo-path" d="M164.9 162.3c1.3-.3 4-1.2 4.8.4.2.3 1.1.5.8 0-1.1-2.3-4.3-1.4-6.2-1-.5.1.2.7.6.6z" fill="#231F20"/>
          </g>
        </svg>
        <div class="logo"></div>

      </div>
      <!-- <a class="arrow animated pulse" href="#"> -->
      <!--   <span class="mega-octicon octicon-chevron-down"></span> -->
      <!-- </a> -->
    </div>
  </div>

  <!-- #intro -->
  <div class="section middle white">
    <div>
      <h2> Entrepreneurship & Innovation Association </h2>
      <p>We are the next wave of entrepreneurs. EIA is a NYU student-run organization that inspires, educates, and builds support systems for student entrepreneurs. Most importantly, we strive to help students in getting their concepts and ideas into fully functional prototypes and working systems.
      </p>
    </div>
  </div>
  <!-- /#intro -->

  <!-- #work -->
  <div class="section middle candlelight">
      <div class="slide">
        <h1> Host events to teach students what it means to run and work with startups </h1>
      </div>
      <div class="slide">
        <h1> Host Hackathons at some of the most innovative and intellectually electric companies in the world, like Buzzfeed </h1>
      </div>
      <div class="slide">
        <h1> Host and guide students through competitions that take seedling ideas and launch them to full blown startup status like Innovention and the Stern Challenge </h1>
      </div>
      <div class="slide">
        <h1> We have curated our own teams, to help your team. No matter what challenge you face— whether shaping a story for a pitch, finding the right people to join your crew, or finding funding— we listen and respond in one-on-one coaching sessions so you can succeed faster and smarter </h1>
      </div>
  </div>
  <!-- /#work -->

  <!-- #community -->
  <div class="section middle white" >
    <div class="twelve columns">
      <h1> Want to chime in? Have ideas you want to see us put to action? <b/> Join our community on #Slack</h1>
      <div class="slack">
        <script async defer src="https://startupatnyu.herokuapp.com/slackin.js?large"></script> 
      </div>
    </div>
  </div>
  <!-- /#community -->

  <!-- #partners -->
  <div class="section middle porcelain" >
    <div class="twelve columns">
      <h1> Our Partners. </h1>
    </div>
  </div>
  <!-- /#partners -->

  <!-- #footer -->
  <div class="section middle razzmatazz" >
    <div class="u-full-max-width">
      <p class="copy"> <span class="copyright"> 2015 &copy; </span>Entrepreneurship & Innovation Association <br/> with <br/><span class="octicon octicon-heart" style="color:white;"></span></p>
    </div>
  </div>
  <!-- /#footer -->

