<div class="fullpage page about container">
  <h1> About Us </h1>
  <div class="content">
    <p>The Entrepreneurship & Innovation Association (EIA)  seeks to create an entrepreneurial ecosystem based upon NYU Poly's i2e mission. The club will provide a forum to learn the concepts of entrepreneurship, provide the benefits of self-employment, and the step-by-step path involved in launching and commercializing your own ideas. The EIA is dedicated to helping NYU-School of Engineering students navigate the entrepreneurial world. We want to help you find collaborators and cofounders or give you the know-how to work at a start-up. I.C.E. Integration - Among students in different majors from all NYU schools, students will also interact with faculty and alumni.Commercialization - Provide students with concepts of entrepreneurship and opportunities to work on commercializing their ideas. Employment - Help students get internships and jobs through networking with alumni and startups. </p>
  </div>
</div>





